streamlit==1.44.0
streamlit-chat
langchain>=0.1.0
langchain-cohere
langchain-community
audio-recorder-streamlit
requests
cohere
pypdf
protobuf==3.20.0
pysqlite3-binary
faiss-cpu
googletrans==4.0.0-rc1
