streamlit
streamlit-chat==0.1.1
langchain
langchain-community==0.0.21
langchain-cohere
cohere
pypdf==3.17.4
protobuf==3.20.0
pysqlite3-binary==0.5.4
faiss-cpu==1.7.4
googletrans==4.0.0-rc1
requests==2.31.0
