streamlit
streamlit-chat
langchain
langchain-cohere
langchain-community
audio-recorder-streamlit
requests
cohere
Cohere
pypdf
protobuf==3.20.0
pysqlite3-binary
chromadb
faiss-cpu
protobuf==3.20.0
pysqlite3-binary
chroma-hnswlib
googletrans==4.0.0-rc1
